{
	admin 0.0.0.0:2019
	auto_https disable_certs
}

:443 {
	tls /etc/caddy/certs/active/fullchain.pem /etc/caddy/certs/active/privkey.pem

	reverse_proxy wg-easy:51821 {
		header_up X-Forwarded-Proto https
	}
}

:80 {
	redir https://{host}{uri} permanent
}
